{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  당신의 쇼핑 카트
{% endblock title %}
{% block content %}
  <h1>당신의 쇼핑 카트 </h1>
  <table class="cart">
    <thead>
    <tr>
      <th>이미지</th>
      <th>상품</th>
      <th>삭제</th>
      <th>수량</th>
      <th>가격</th>
    </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product  %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
              </td>
              <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                 {{ item.update_quantity_form.quantity }}
                 {{ item.update_quantity_form.update }}
                 <input type="submit" value="Update">
                 {% csrf_token %}
              </form>
              </td>
              <td>{{ item.quantity }}</td>
              <td><a href="{% url "cart:cart_remove" product.id %}">삭제</a></td>
              <td class="num">{{ item.price }}</td>
              <td class="num">{{ item.total_price }}</td>
            </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="buttonlight">쇼핑 계속하기</a>
    <a href="#" class="button">체크아웃</a>
  </p>
{% endblock content %}
