{% extends "blog/base.html" %}

{% block title %}
  search
{% endblock title %}

{% block content %}
  {% if "query" in request.GET %}
    <h1>posts containing {{ cd.query }}</h1>
    <h3>found {{ total_results }} result {{ total_results|pluralize }}</h3>
    {% for result in results %}
      {% with post=result.object  %}
          <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
          {{ post.body|truncatewords:5 }}
      {% endwith %}
      {% empty %}
      <p> <a href="{% url "blog:post_search" %}">search again </a></p>
    {% endfor %}
  {% else %}
      <h1>search for posts</h1>
      <form action="." method="get">
        {{ form.as_p }}
        <input type="submit" value="search"></input>
      </form>
  {% endif %}
{% endblock content %}
